body {
	background-color: rgba(255, 255, 255, 0.851);
	color: black;
}


.box {
  background-color: #e8e8e8;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  overflow-x: auto;
  margin: 1rem 0;
}

code {
  font-family: monospace;
  font-size: 0.95em;
  display: block;
  white-space: pre;
}
